@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    color: unset;
    text-decoration: unset;
    list-style-type: none;
}

img {
    max-width: 100%;
}


$white: #ffffff;
$black: #000000;

body {
    font-family: 'Montserrat', sans-serif;
}

.checkbox {
    display: none;

    @media (max-width: 987px) {
        display: flex;
        position: fixed;
        top: 30px;
        z-index: 100;
        right: 10px;
        width: 45px;
        flex-direction: column;
        cursor: pointer;
    }

    span {
        background: $white;
        border-radius: 10px;
        height: 4px;
        margin: 4px 0;
        transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

        &:nth-of-type(1) {
            width: 50%;
        }

        &::nth-of-type(2) {
            width: 100%;
        }

        &::nth-of-type(3) {
            width: 75%;
        }
    }

    input[type="checkbox"] {
        display: none;

        &:checked~span:nth-of-type(1) {
            transform-origin: bottom;
            transform: rotatez(45deg) translate(6px, 0px)
        }

        &:checked~span:nth-of-type(2) {

            transform-origin: top;
            transform: rotatez(-45deg)
        }

        &:checked~span:nth-of-type(3) {
            transform-origin: bottom;
            width: 50%;
            transform: translate(20px, -5px) rotatez(45deg);
        }
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 50px 50px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    transition: 0.5s;

    @media (max-width: 987px) {
        transform: translateX(100vh);
        flex-direction: column;
        background-color: $black;
        padding: 30px;
    }

    nav {

        @media (max-width: 987px) {
            order: 1;
            margin: 20px 0px;
        }
      
        ul {
            display: flex;
            gap: 50px;

            @media (max-width: 987px) {
                flex-direction: column;  
                gap: 20px;   
                align-items: flex-start;
            }

            .nav__item {
                color: $white;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                position: relative;
                transition: 0.5s;
                display: inline-block;

                &::before {
                    content: '';
                    display: block;
                    width: 0%;
                    height: 2px;
                    background-color: $white;
                    position: absolute;
                    left: calc(50% - 65%);
                    bottom: -5px;
                    margin: 0 auto;
                    transition: 0.5s;
                    transform-origin: center;
                    margin: 0 auto;
                    text-align: center;
                    @media (max-width: 987px) {
                        left: 0;
                    }
                }
            }

            .nav__item__active {
                &::before {
                    width: 130%;

                    @media (max-width: 987px) {
                        width: 100%;
                    }
                }
            }
        }

       
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        h1 {
            color: $white;
            transition: 0.5s;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-size: 32px;

            @media (max-width: 987px) {
                font-size: 24px;
            }
        

            span {
                color: rgba(189, 189, 189, 0.5);
                font-weight: 400;
            }
        }

        svg {
            margin-top: 20px;
            @media (max-width: 987px) {
                margin-top: 0px;
                width: 40px;
                position: absolute;
                right: -50px;
            }

            path {
                fill: $white;
                transition: 0.5s;
            }
        }
    }

    .menuIcons {
        display: flex;
        align-items: center;
        gap: 50px;
        @media (max-width: 987px) {
            order: 1;
        }

        .menuIcons__item {
            svg {
                path {
                    stroke: $white;
                    transition: 0.5s;
                }
            }
        }
    }
}

.header_active {
    transform: none
}

.section {
    padding: 50px 0px 50px;
    color: $white;
    position: relative;
    background-color: $black;
    transition: 0.5s;

    @media (max-width: 987px) {
        padding: 30px 0px 50px;
    }

    .item {
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        max-width: 1350px;
        margin: 0 auto;
        padding: 0 25px;
        flex: 1;
        position: relative;
        width: 100%;
        flex-wrap: wrap;
        max-height: 815px;

        @media (max-width: 987px) {
            flex-direction: column;
           
        }

        &::before {
            content: attr(data-nomber);
            display: block;
            position: absolute;
            right: -20px;
            font-weight: 700;
            font-size: 250px;
            line-height: 305px;
            color: #3C3C3C;

            @media (max-width: 987px) {
                font-size: 100px;
                bottom: 0;
                right: 0;
            }
        }

        .item__text {
            width: 40%;

            @media (max-width: 987px) {
                width: 100%;
            }

            .item__text_title {
                font-size: 60px;
                line-height: 1em;

                @media (max-width: 987px) {
                    font-size: 28px;
                }

                span {
                    display: block;
                    color: #BDBDBD;
                    font-size: 30px;
                    font-weight: 400;
                    line-height: 1em;

                    @media (max-width: 987px) {
                        font-size: 18px;
                    }
                }
            }

            .item__text_subtitle {
                margin-top: 30px;
                font-weight: 500;
                font-size: 24px;

                @media (max-width: 987px) {
                    font-size: 14px;
                    margin-top: 20px;
                }
            }

            .item__text_description {
                margin-top: 30px;
                font-size: 16px;
                letter-spacing: 0.05em;
                max-width: 461px;

                @media (max-width: 987px) {
                    font-size: 12px;
                    margin-top: 20px;
                }
            }

            ul {
                margin-top: 20px;
                font-size: 16px;
                letter-spacing: 0.05em;

                @media (max-width: 987px) {
                    font-size: 12px;
                }
            }
            
        }

        .item__img {
            position: relative;
            flex: 1;

            @media (max-width: 987px) {
                flex: unset;
                width: 80%;
            }

        }

        .price {
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            letter-spacing: 0.03em;
            margin: auto;
            text-align: center;
            width: 100%;

            @media (max-width: 987px) {
                transform: translateY(-10px);
                font-size: 26px;
            }
        }
    

    }

    .navigathion {
        position: fixed;
        right: 50px;
        top: calc(50% - 35%);
        height: 70%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin-right: -20px;
        z-index: 10;

        @media (max-width: 987px) {
            height: 30%;
            top: unset;
            bottom: 120px;
            right: 30px;
        }

        svg {
            transition: 0.5s;
            cursor: pointer;

            @media (max-width: 987px) {
                width: 50px;
            }

            path {
                stroke: $white;
                transition: 0.5s;
            }
        }

        .section_up {
            &:hover {
                transform: translateY(-10px);
            }
        }

        .section_down {
            &:hover {
                transform: translateY(10px);
            }
        }
    }

    
    .pp-tableCell {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }

}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 20;
    padding: 0px 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 987px) {
        padding: 0px 30px 30px;
    }

    .checkbox-ios {
        display: inline-block;
        height: 28px;
        line-height: 28px;
        margin-right: 10px;
        position: relative;
        vertical-align: middle;
        font-size: 14px;
        user-select: none;

        .checkbox-ios-switch {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            width: 56px;
            height: 28px;
            border: 1px solid rgba(0, 0, 0, .1);
            border-radius: 25%/50%;
            vertical-align: top;
            background: $white;
            transition: .2s;

            &::before {
                content: '';
                position: absolute;
                top: 1px;
                left: 1px;
                display: inline-block;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: $black;
                box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
                transition: .5s;
            }
        }

        input[type=checkbox] {
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            z-index: -1;
            opacity: 0;

            &:not(:disabled):active+.checkbox-ios-switch:before {
                box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
            }

            &:checked+.checkbox-ios-switch {
                background: $black;
            }

            &:checked+.checkbox-ios-switch:before {
                transform: translateX(28px);
                background: $white
            }

            &:not(:disabled)+.checkbox-ios-switch {
                cursor: pointer;
                border-color: rgba(0, 0, 0, .3);
            }

            &:disabled+.checkbox-ios-switch {
                filter: grayscale(70%);
                border-color: rgba(0, 0, 0, .1);
            }

            &:disabled+.checkbox-ios-switch:before {
                background: #eee;
            }

            .checkbox-ios.focused .checkbox-ios-switch:before {
                box-shadow: inset 0px 0px 4px #ff5623;
            }
        }
    }

    button {
        background-color: $white;
        padding: 11px 77px;
        border-radius: 17px;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        @media (max-width: 987px) {
            padding: 2px 35px;
            font-size: 22px;
            border-radius: 12px;
        }
    }


    .language {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #BDBDBD;

        .lang_item_active {
            font-weight: 600;
            font-size: 20px;
            color: $white;
        }
    }
}

.white_theme {

    .checkbox {
        span {
            background: $black;
        }
    }
    header {

        @media (max-width: 987px) {
            background-color: $white;
        }

        nav {
            ul {
                .nav__item {
                    color: $black;

                    &::before {
                        background-color: $black;
                    }
                }
            }
        }

        .logo {
            h1 {
                color: $black;
            }

            svg {
                path {
                    fill: $black;
                }
            }
        }

        .menuIcons {

            .menuIcons__item {
                svg {
                    path {
                        stroke: $black;
                    }
                }
            }
        }
    }

    .section {
        color: $black;
        background-color: $white;

        .navigathion {
            svg {
                path {
                    stroke: $black;
                }
            }
        }
    }

    footer {

        button {
            background-color: $black;
            color: $white;
        }

        .language {
            .lang_item_active {
                color: $black;
            }
        }
    }
}
